/**** Base ****/
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--nav-color);

  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  flex: 1; // Permet au contenu de prendre tout l'espace disponible
}

.wrapper {
  flex: 1;
  background: linear-gradient(
      38.73deg,
      rgba(122, 30, 228, 0.15) 0%,
      rgba(201, 32, 184, 0) 50%
    ),
    linear-gradient(
      141.27deg,
      rgba(0, 70, 209, 0) 50%,
      rgba(35, 74, 182, 0.15) 100%
    );
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 98%, 0 100%);
}

* {
  box-sizing: border-box;
}
