.toggle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: auto;
  background-color: transparent;
  border: none;
  transition: fill 0.3s ease;

  svg {
    fill: var(--primary-color);
  }
}
